* {
    background-color: #080F17;
    font-family: "Monaco";
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0 10vw;
}

.nav-links {
    display: flex;
    gap: 45px; /* Adjust the gap value as needed */
    font-size: x-large;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #00FFFF;
}

.auth-buttons button {
    margin-left: 10px;
    background-color: #00FFFF;
    padding: 20px;
    font-size: large;
    transition: background-color 0.4s ease; 
}

.auth-buttons button:hover {
    background-color: transparent;
    border: white 1px solid;
    color: white;
}

.navbar img {
    height: 100%;
}

footer {
    margin-top: 20px;
    text-align: center;
}
