* {
    background-color: #080F17;
    font-family: "PT Sans Caption", Sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0 3%;
}

.nav-links {
    display: flex;
    gap: 5vw; /* Adjust the gap value as needed */
    font-size: x-large;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #00FFFF;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold; /* Explicitly set font weight */
    transition: background-color 0.4s ease; 
}
a:hover{
    color: #00FFFF;
}
#login{
    background-color: #00FFFF;
    color: black;
}

#login:hover {
    background-color: transparent;
    border: white 1px solid;
    color: white;
}
#signup {
    background-color: transparent;
    border: white 1px solid;
}
#signup:hover{
    background-color:#00FFFF;
    border: none;
    color: black;
}

.navbar img {
    height: 100%;
    padding-left: 10px;
    margin-top: 0;
    margin-left: 0;
}
img{
    margin-top: 50px;
    margin-left: 300px;
    height: 300px;
    border-radius: 150px;
}
.cr{
    display: grid;
}
.ig{
    grid-column-start: 1;
    grid-column-end: 2;
}
.text{
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 80px;
    margin-right: 300px;
}
.animated-img {
    animation: fade-in 5s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.visible {
    animation-play-state: paused;
}
.text{
    animation: fadeRightAnimation 5s ease-out forwards;
    opacity: 0;
    transform: translateX(50px);
}

@keyframes fadeRightAnimation {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}