* {
    background-color: #080F17;
    font-family: "PT Sans Caption", Sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0 3%;
}

.nav-links {
    display: flex;
    gap: 5vw; /* Adjust the gap value as needed */
    font-size: x-large;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #00FFFF;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold; /* Explicitly set font weight */
    transition: background-color 0.4s ease; 
}

#login{
    background-color: #00FFFF;
    color: black;
}

#login:hover {
    background-color: transparent;
    border: white 1px solid;
    color: white;
}
#signup {
    background-color: transparent;
    border: white 1px solid;
}
#signup:hover{
    background-color:#00FFFF;
    border: none;
    color: black;
}

.navbar img {
    height: 100%;
    /* margin-left: ; */
}
.main{
    position: absolute;
    left: 85%;
}
.search{
    background-color: #00FFFF;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor *{
    box-sizing: border-box;
}
.fadeIn {
    animation-name: fadeIn;
}
.rating {
    display: inline-block;
  }
  
.rating input {
    display: none;
  }
  
.rating label {
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url('star.png');
    background-size: cover;
}
  
.rating input:checked ~ label {
    background-image: url('https://img.freepik.com/free-vector/star-rating-with-black-background_1017-6189.jpg?size=626&ext=jpg&ga=GA1.1.1012197418.1709657010&semt=ais');
}
  
footer {
    margin-top: 20px;
    text-align: center;
}

/* .mainbox img{
    width: 50%;
    height: 50%;
    position: relative;
    /* left: ; 
    z-index: 1;
    right: 10vw;
    top: 10vw;
} */
