* {
    background-color: #080F17;
    font-family: "PT Sans Caption", Sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0 3%;
}

.nav-links {
    display: flex;
    gap: 5vw; /* Adjust the gap value as needed */
    font-size: x-large;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #00FFFF;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold; /* Explicitly set font weight */
    transition: background-color 0.4s ease; 
}
a:hover{
    color: #00FFFF;
}
#login{
    background-color: #00FFFF;
    color: black;
}

#login:hover {
    background-color: transparent;
    border: white 1px solid;
    color: white;
}
#signup {
    background-color: transparent;
    border: white 1px solid;
}
#signup:hover{
    background-color:#00FFFF;
    border: none;
    color: black;
}

.navbar img {
    height: 100%;
    padding-left: 10px;
   /* margin: left 30px;*/
}
.total{
    display: grid;
}
.car-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.fade-left {
    animation: fadeLeftAnimation 5s ease-out forwards;
    opacity: 0;
    transform: translateX(-50px);
}

@keyframes fadeLeftAnimation {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.car {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #192636;
}


.car img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.car h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #192636;
}
.car p{
    background-color: #192636;

}

.price {
    font-weight: bold;
    color: #007bff;
}
.main {
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 80%;
    grid-column-start: 3;
    grid-column-end: 4;
}

.fade-right {
    animation: fadeRightAnimation 5s ease-out forwards;
    opacity: 0;
    transform: translateX(-50px);
}

@keyframes fadeRightAnimation {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.site{
    width: 230px;
    height: 175px;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom:20px;
    background-color: #192636;
}
.search {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    
}

.search-form input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #00ffff;
    color: #0b0909;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

h4 {
    margin-bottom: 10px;
    background-color: #192636;
    text-align: center;
}

.car-types ul,
.price-range ul {
    list-style: none;
    padding: 0;
    background-color: #192636;
}

.car-types li,
.price-range li {
    margin-bottom: 5px;
    background-color: #192636;
    text-align: center;
}

.ratings .star-rating {
    color: rgb(255, 77, 0);
    background-color: #192636;
}

.star-rating:hover{
    background-color: #00FFFF;
}
.star-rating{
    text-align: center;
}
.checked {
    color: orange;
}

footer {
    margin-top: 20px;
    text-align: center;
}

/* .mainbox img{
    width: 50%;
    height: 50%;
    position: relative;
    /* left: ; 
    z-index: 1;
    right: 10vw;
    top: 10vw;
} */

